@use '../abstracts' as *;

.heading {
  font-family: 'Fraunces', serif;
  font-weight: 900;

  &--header {
    letter-spacing: 8.75px;
    color: $color-white;
    font-size: 5.6rem;
    text-transform: uppercase;
  }

  &--card-text {
    font-size: 4rem;
    letter-spacing: -0.3px;
    line-height: 4.9rem;
    color: $color-blue-dark-secondary;
  }

  &--main-card__link {
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
  }
}

.paragraph {
  font-family: 'Barlow', sans-serif;
  font-weight: 600;

  &--card-text {
    font-size: 1.8rem;
    letter-spacing: -0.13px;
    line-height: 3rem;
    color: $color-blue-light-primary;
  }
}

.navigation-links li {
  font-family: 'Barlow', sans-serif;
  color: $color-white;
  font-size: 1.8rem;
  letter-spacing: -0.13px;

  &:last-of-type {
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 1.5rem;
    letter-spacing: -0.11px;
    color: $color-blue-dark-secondary;

    &:hover {
      color: $color-white;
    }
  }
}
