.header {
  display: flex;
  justify-content: space-between;

  &__mode {
    display: flex;
    align-items: center;

    & > button {
      border: none;
      background: none;
      display: flex;
      gap: 1.6rem;
      align-items: center;
      cursor: pointer;
      transition: all 0.3s;

      &:hover {
        filter: brightness(0);
      }
    }
  }
}
