@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

body {
  font-family: "Big Shoulders Display", cursive;
}

.heading {
  font-family: "Big Shoulders Display", cursive;
  font-weight: 700;

  &--home-header {
    color: $color-white;
    font-size: 9.6rem;
    line-height: 8.8rem;
    mix-blend-mode: exclusion;
  }

  &--home-main {
    font-size: 6rem;
    line-height: 6rem;

    @include respond(tablet) {
      font-size: 5rem;
      line-height: 4.5rem;
    }

    &--intro {
      color: $color-black;
    }

    &--content {
      color: $color-white;
    }
  }

  &--footer {
    font-size: 3.4rem;
    line-height: 3.2rem;

    @include respond(tablet) {
      font-size: 3rem;
      line-height: 2.6rem;
    }
  }

  &--location-main {
    font-size: 7rem;
    line-height: 7rem;

    @include respond(tablet) {
      font-size: 5.5rem;
      line-height: 5rem;
    }
  }
}

.paragraph {
  font-family: "Outfit", sans-serif;
  font-weight: 300;

  &--home-header {
    font-size: 2.2rem;
    line-height: 3.2rem;
    color: $color-grey;

    @include respond(tablet) {
      font-size: 1.8rem;
      line-height: 2.8rem;
    }
  }

  &--home-main {
    font-size: 2.2rem;
    line-height: 3.2rem;

    @include respond(tablet) {
      font-size: 1.8rem;
      line-height: 2.8rem;
    }

    &--intro {
      color: $color-grey;
    }

    &--content {
      color: $color-white;
    }
  }

  &--footer {
    font-size: 1.8rem;
    line-height: 2.8rem;
    flex: 0 0 43rem;

    @include respond(tablet) {
      font-size: 1.6rem;
      line-height: 2.6rem;
      flex: 0 0 28rem;
    }

    @include respond(phone) {
      flex: 0 0 100%;
    }
  }

  &--location-main {
    font-size: 2.2rem;
    line-height: 3.2rem;

    @include respond(tablet) {
      font-size: 1.8rem;
      line-height: 2.8rem;
    }
  }
}

address {
  font-style: normal;
  font-size: 2.2rem;
  line-height: 3.2rem;

  @include respond(tablet) {
    font-size: 1.8rem;
    line-height: 2.8rem;
  }

  & > span {
    color: $color-gold;
    font-size: 3.6rem;
    font-weight: 700;

    @include respond(tablet) {
      font-size: 3.2rem;
    }
  }
}
