@use '../../styles/abstracts' as *;

.tip-sub {
  background-color: $color-cyan-dark-primary;
  border-radius: 1.5rem;
  padding: 4rem;

  &__show {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:last-of-type {
      margin-top: 4rem;
    }
  }
}
