$color-red: #fe7867;
$color-yellow: #fad400;
$color-cyan-primary: #25564b;
$color-cyan-secondary: #458c7e;
$color-white: #ffffff;
$color-blue-dark-primary: #19536b;
$color-blue-dark-secondary: #23303e;
$color-blue-dark-tertiary: #5a636c;
$color-blue-light-primary: #818498;
$color-blue-light-secondary: #a7abae;
