body {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.3px;
  color: $color-blue-dark-1;
}

.text-bold-black {
  font-family: inherit;
  color: inherit;
  font-size: 1.8rem;
  font-weight: 700;
}

.text-normal-grey {
  font-family: inherit;
  color: $color-grey-dark;
  font-size: 1.8rem;
}
