$color-cyan-primary: #26bfab;
$color-cyan-secondary: #7f9c9f;
$color-cyan-dark-primary: #00494d;
$color-cyan-dark-secondary: #5e7a7d;
$color-cyan-light-primary: #c5e4e7;
$color-cyan-light-secondary: #f4fafa;
$color-white: #ffffff;
