@use "../../stylesheets/abstracts/variables" as *;

.footer {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-white-dark;
  padding: 36rem 16rem 7.2rem 16rem;
  margin-top: -20%;

  & > .social-links {
    display: flex;
    gap: 2.8rem;

    & > img {
      cursor: pointer;
      transition: all 0.3s;

      &:hover {
        filter: invert(30%) sepia(40%) saturate(327%) hue-rotate(180deg)
          brightness(98%) contrast(90%);
      }
    }
  }
}
