@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.heading {
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  font-size: 1.3rem;
  line-height: 1.8rem;
  letter-spacing: 0.4rem;
  color: $color-neon-green;
  text-align: center;

  @include respond(phone) {
    font-size: 1.1rem;
    line-height: 1.5rem;
    letter-spacing: 0.35rem;
  }
}

.paragraph {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 2.8rem;
  line-height: 3.8rem;
  letter-spacing: -0.3px;
  color: $color-light-cyan;
  text-align: center;

  @include respond(phone) {
    font-size: 2.4rem;
    line-height: 3.2rem;
    letter-spacing: -0.25px;
  }
}
