@use "../../styles/abstracts" as *;

.app {
  width: 100vw;
  height: 100vh;
  background-color: $color-darker-blue;
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;

    @include respond(desktop) {
      width: 111rem;
    }
  }
}
