*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  width: 100vw;
  box-sizing: border-box; }

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #fff; }

.heading-primary {
  font-weight: 600;
  font-size: 4rem;
  text-align: center; }
  @media only screen and (max-width: 23.5em) {
    .heading-primary {
      font-size: 2.4rem; } }

.paragraph {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  text-align: center; }
  @media only screen and (max-width: 23.5em) {
    .paragraph {
      font-size: 1.6rem; } }

.form__btn {
  font-family: "Poppins", sans-serif;
  color: #674baf;
  font-size: 1.8rem; }

.mar-top-large {
  margin-top: 10rem; }
  @media only screen and (max-width: 23.5em) {
    .mar-top-large {
      margin-top: 5rem; } }

.mar-top-small {
  margin-top: 2.4rem; }
  @media only screen and (max-width: 23.5em) {
    .mar-top-small {
      margin-top: 1.6rem; } }

.main {
  width: 100%;
  padding: 8rem 4rem;
  background-image: url("../../images/bg-desktop.svg"), linear-gradient(#674baf, #674baf);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: grid; }
  @media only screen and (max-width: 23.5em) {
    .main {
      padding: 4rem; } }
  @media only screen and (min-width: 90.5em) {
    .main {
      width: 144rem;
      margin: 0 auto; } }

.logo {
  width: 20rem; }
  @media only screen and (max-width: 23.5em) {
    .logo {
      width: 15rem; } }

.section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 6rem;
  align-items: center; }
  @media only screen and (max-width: 23.5em) {
    .section {
      grid-template-columns: 1fr;
      column-gap: 0;
      row-gap: 6rem; } }
  .section-card {
    width: 100%; }
  .section-content > h1 {
    width: 70%; }
    @media only screen and (max-width: 23.5em) {
      .section-content > h1 {
        width: 90%;
        margin: 0 auto; } }
  .section-content > p {
    width: 80%; }
    @media only screen and (max-width: 23.5em) {
      .section-content > p {
        width: 100%; } }

.form {
  margin-top: 2.4rem !important; }
  @media only screen and (max-width: 23.5em) {
    .form {
      display: flex;
      justify-content: center; } }
  .form__btn {
    padding: 1.6rem 6.4rem;
    background-color: #fff;
    box-shadow: 0.2rem 0.4rem 0.9rem 0.3rem rgba(0, 0, 0, 0.25);
    border-radius: 2.8rem;
    border: none;
    cursor: pointer;
    transition: all 0.3s; }
    @media only screen and (max-width: 23.5em) {
      .form__btn {
        padding: 1rem 7.5rem; } }
    .form__btn:hover {
      background-color: #e882e8;
      color: #fff; }

.footer {
  justify-self: end; }
  @media only screen and (max-width: 23.5em) {
    .footer {
      margin-top: 6.4rem;
      justify-self: center; } }
  .footer-social {
    display: flex;
    gap: 1.6rem; }
    .footer-social__links {
      width: 4rem;
      height: 4rem;
      border: 1px solid #fff;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: all 0.3s; }
      .footer-social__links:hover {
        border-color: #e882e8; }
        .footer-social__links:hover > .footer-social__icon {
          color: #e882e8; }
    .footer-social__icon {
      width: 50%;
      height: 50%;
      color: #fff;
      transition: color 0.3s; }
