@use '../../styles/abstracts/mixins' as *;

.app {
  padding: 5.5rem 16.5rem 4rem 16.5rem;
  overflow: hidden;

  @include respond(desktop) {
    width: 144rem;
  }

  @include respond(tablet) {
    padding: 4rem;
  }

  @include respond(phone) {
    padding: 2.4rem;
  }
}
