@use "../../stylesheets/abstracts/variables" as *;

.sub-section {
  width: 110rem;
  margin-top: 15.5rem;
  color: $color-white-light;

  &__content {
    position: relative;
    display: grid;
    background-color: $color-black;
    grid-template-columns: 1.75fr 2fr;
    height: 53rem;
    border-radius: 1.5rem;

    &-img {
      position: absolute;
      background-image: url("../../../public/assets/pattern-blur.svg");
      background-position: center 6rem;
      background-repeat: no-repeat;
      background-size: cover;
      top: -6rem;
      left: 10rem;
    }

    &-text {
      grid-column: 2 / -1;
      padding: 8rem 11rem;

      & > img {
        position: absolute;
        top: 28%;
        left: 45%;
      }

      & > p,
      & > h3 {
        margin-top: 4rem;
      }
    }
  }
}
