@use "../../stylesheets/abstracts/mixins" as *;

.header {
  width: 110rem;
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
  align-items: center;

  @include respond(tablet) {
    width: 100%;
    margin-top: 4rem;
    padding: 0 4rem;
  }

  @include respond(phone) {
    margin-top: 2.4rem;
    padding: 0 1.6rem;
  }
}
