$color-blue-dark: hsl(238, 29%, 16%);
$color-red: hsl(14, 88%, 65%);

$color-violet-bg: hsl(273, 75%, 66%);
$color-blue-bg: hsl(240, 73%, 65%);

$color-blue-text-1: hsl(237, 12%, 33%);
$color-blue-text-2: hsl(240, 6%, 50%);

$color-blue-divider: hsl(240, 5%, 91%);
